header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #DBD3D8;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #0D3B66;
}

.underline {
    border-top: solid #0D3B66 1px;
    margin: 3px 25% 0 25%;
}