.user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.user-firstname {
    color: #0D3B66;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}

.user-lastname {
    font-size: 40px;
    margin: 0;
}

.user-image {
    order: -1;
    border-radius: 100%;
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}