RewriteEngine On
RewriteBase /blog
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} \.(js|css|jpe?g|gif|png|bmp|ico|pdf)$ [NC]
RewriteRule ^(.+)$ index.php [QSA,L]