{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block content %}
<section class="intro">
    <h1 class="intro-title">Nouveau commentaire</h1>
</section>
<section class="secondary">
    <form action="/blog/posts/{{ id_post }}/comments/new" method="POST">
            <div class="form-item">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="8" cols="1"></textarea>
            </div>
            <input type="submit"/>
        </form>
</section>
{% endblock %}