<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="css/style.css"/>
            <link rel="stylesheet"type="text/css" href="css/header.css"/>
            <link rel="stylesheet" type="text/css" href="css/footer.css"/>
            <link rel="stylesheet" type="text/css" href="css/post.css"/>
            <script src="https://kit.fontawesome.com/f68a2ad05b.js" crossorigin="anonymous"></script>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {# {% if islogged %}
        {% include header logged %}
        {% else %}
        {% include header efault %}
        {% endif %} #}
        {% include "header.html.twig" %}

        <section class="main">
        {% block content %}
        {% endblock %}
        </section>
        {% include "footer.html.twig" %}
    </body>
</html>