<header>
    <a href="">
        <img class="logo" src="uploads/df-logo.png"/>
    </a>
    <nav class="navbar">
        <div class="nav-item">
            <a class="nav-link" href="/blog/posts">Posts</a>
            <hr class="underline"/>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/blog/contact">Contact</a>
            <hr class="underline"/>
        </div>
        {% if logged_in %}
        <div class="nav-item">
            <a class="nav-link" href="/blog/users/{{ user.id }}">Profil</a>
            <hr class="underline"/>
        </div>
        {% else %}
        <div class="nav-item">
            <a class="nav-link" href="/blog/login">Se connecter</a>
            <hr class="underline"/>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/blog/register">Créer un compte</a>
            <hr class="underline"/>
        </div>
        {% endif %}
    </nav>
</header>