<header>
    <a href="/blog">
        <img class="logo" src="/blog/uploads/df-logo.png"/>
    </a>
    <nav class="navbar">
        <div class="nav-item">
            <a class="nav-link" href="/blog/posts">Posts</a>
            <hr class="underline"/>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/blog/contact">Contact</a>
            <hr class="underline"/>
        </div>
        {% if session.logged_in %}
        <div class="nav-item">
            <a class="nav-link" href="/blog/users/{{ session.user_id }}">Profil</a>
            <hr class="underline"/>
        </div>
        {% else %}
        <div class="nav-item">
            <a class="nav-link" href="/blog/login">Se connecter</a>
            <hr class="underline"/>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/blog/register">Créer un compte</a>
            <hr class="underline"/>
        </div>
        {% endif %}
    </nav>
</header>