{% extends 'base.html.twig' %}

{% block title %}Nouveau post{% endblock %}

{% block content %}

    <section class="intro">
        <h1 class="intro-title">Nouveau post</h1>
    </section>
    <seciton class="secondary">
        <form action="/blog/posts/new" method="POST" enctype="multipart/form-data">
            <div class="form-item">
                <label for="title">Titre</label>
                <input type="text" id="title" name="title"/>
            </div>
            <div class="form-item">
                <label for="chapo">Chapô</label>
                <input type="text" id="chapo" name="chapo"/>
            </div>
            <div class="form-item">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
            </div>
            <div class="form-item">
                <label for="content">Contenu</label>
                <input type="text-area" id="content" name="content"/>
            </div>
            <input type="submit"/>
        </form>
    </section>

{% endblock %}